@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}
.main-body {
  display: grid;
  grid-template-areas:
    'header'
    'main-content'
    'footer';
  grid-auto-rows: minmax(1rem, auto);
}
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 2rem;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
header {
  width: 100vw;
  height: 1fr;
}
.main-header {
  grid-area: header;
}
.main-maincontent,
.inside-maincontent {
  background-color: #3f3f3f;
  min-height: 100%;
}
.main-content {
  grid-area: main-content;
}
.main-restaurant-content {
  display: grid;
  grid-template-areas:
    'filter'
    'main-rest-content';
  grid-auto-rows: minmax(1rem, auto);
}
.main-maincontent {
  display: grid;
  grid-template-areas: 'map' 'main-content';
  grid-auto-rows: minmax(1rem, auto);
}

.main-footer,
.inside-footer {
  grid-area: footer;
  background-color: #3f3f3f;
  color: #aaa;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  display: flex;
  background-color: #252831;
  text-align: center;
  padding: 2rem 0;
}
nav h1 {
  margin: auto;
  font-size: 3.2em;
}
nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.inside-breadcrumb {
  position: sticky;
  top: 80px;
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 1.1em;
  margin: 0;
  width: calc(1fr - 80px);
}

/* Display list items side by side */
.inside-breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.inside-breadcrumb li + li:before {
  padding: 0.8rem;
  color: black;
  content: '/\00a0';
}

/* Add a color to all links inside the list */
.inside-breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
.inside-breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
.main-map,
.inside-map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
.main-map-container {
  grid-area: map;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #217cba;
  padding-top: 1rem;
  grid-area: filter;
}
.filter-options h2 {
  color: white;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
.main-restaurants-list {
  grid-area: main-rest-content;
  background-color: #252831;
  list-style: outside none none;
  margin: 0;
  padding: 3rem 1.5rem 6rem;
  text-align: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
}
.main-restaurants-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 0.2rem solid #ccc;
  font-family: Arial, sans-serif;
  margin: 1.5rem;
  min-height: 380px;
  padding: 2.5rem 3rem;
  text-align: left;
}
.main-restaurants-list .main-restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  object-fit: cover;
}
.main-restaurants-list li h1 {
  color: #b46100;
  font-family: Arial, sans-serif;
  font-size: 2.2em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 2em 0 1em;
  text-transform: uppercase;
}
.main-restaurants-list p {
  margin: 0;
  font-size: 1.6em;
}
.main-restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #494949;
  display: inline-block;
  font-size: 1.2em;
  margin: 1.5rem 0 0;
  padding: 0.8rem 3rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  max-width: 40%;
}

/* ====================== Restaurant Details ====================== */
.inside {
  display: grid;
  grid-template-areas:
    'header'
    'main-content'
    'footer';
}
.inside-header {
  grid-area: header;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside-maincontent {
  grid-area: main-content;
  display: grid;
  grid-template-areas:
    'map'
    'rest-content'
    'reviews';
}
.inside-map-container {
  grid-area: map;
  background: blue none repeat scroll 0 0;
  right: 0;
  top: 80px;
  width: 100%;
  height: 100%;
  max-height: 50vh;
}
.inside-map {
  background-color: #ccc;
  max-height: 100%;
  width: 100%;
}
.inside-footer {
  grid-area: footer;
  bottom: 0;
  width: 100%;
}
.inside-restaurant-name {
  color: #ff9111;
  font-family: Arial, sans-serif;
  font-size: 2.6em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1.5rem 0 3rem;
  text-transform: uppercase;
  line-height: 1.1;
}
.inside-restaurant-img {
  width: 100%;
  object-fit: cover;
}
.inside-restaurant-address {
  font-size: 1.8em;
  margin: 10px 0px;
  color: #d6d6d6;
}
.inside-restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 0.2rem 0;
  text-align: center;
  text-transform: uppercase;
}
.inside-restaurant-hours {
  display: block;
}
.inside-restaurant-hours td {
  color: #adadad;
  font-size: 1.3em;
}
.inside-restaurant-container,
.inside-reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
}
.inside-restaurant-container {
  grid-area: rest-content;
  display: grid;
  /* grid-template-areas: 'inside-restaurant inside-rest-content'; */
  grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
  gap: 2rem;
  grid-auto-rows: minmax(30rem, auto);
}
.inside-restaurant {
  /* grid-area: inside-restaurant; */
  display: flex;
  flex-direction: column;
}
.inside-rest-content {
  /* grid-area: inside-rest-content; */
  display: flex;
  flex-direction: column;
  /* min-width: 322px; */
}
.inside-reviews-container {
  grid-area: reviews;
  padding: 30px 40px 80px;
}
.inside-reviews-container h2 {
  color: #ff9111;
  font-size: 2.6em;
  font-weight: 300;
  letter-spacing: -0.05em;
  padding-bottom: 0.1rem;
}
.inside-reviews-list {
  margin: 0;
  padding: 0;
}
.inside-reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
  border-radius: 2rem 0;
  box-shadow: 5px 5px 5px 1px rgba(27, 25, 25, 0.75);
}
.inside-reviews-list li p {
  margin: 0 0 10px;
  font-size: 1.4em;
}

/* ====================== Responsive Rules ====================== */

html {
  font-size: 62.5%;
  /* font-size: calc(16px + (24-16) * ((100vw - 400px) / (1800 - 320))); */
}

/* @media screen and (max-width: 420px) {
  .main-restaurants-list {
    width: 1fr;
  }
} */
